*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #C7DDF5;
}

.container{
    display: flex;
    margin: 5%;
}

.blockInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
  

}

.inputAdress{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
    border-radius: 8px 0px 0px 8px;
    border: none;
    outline-color: #bec5ce;
}

.inputAdress:active{
    border-radius: 8px;
}

.buttonGeneretor{
    width: 200px;
    padding: 26px;
    margin-left: -6px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #bec5ce;
    background-color: #669ACC;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.buttonGeneretor:hover{
    cursor: pointer;
    background-color: #438bcf;
    transition: 0.5s;
}

.blockImg{
    display: flex;
    width: 35%;
    height: 300px;
    margin: 0px 0px 0px 10px;
    justify-content: center;
    
}

.qrcode{
    padding: 80px;
    border-radius: 8px;
    border: none;
    background-color: #b5d6fa;
    
}

.qrcode > img{
   max-width: 170px;
   max-height: 170px;
   min-width: 170px;
   min-height: 170px;
   margin: -30px 0px 10px 0px;
   background-color: #FFF;
}


.buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px
}

.buttons > a{
    text-decoration: none;
}

.buttons > a > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 70px;
    border-radius: 40%;
    border: 2px solid #438bcf;
    font-weight: bold;
    color: #438bcf;
    background-color: transparent;
}

.buttons > a > button:hover{
    cursor: pointer;
    color: white;
    background-color: #438bcf;
    transition: 0.5s;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {    
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb { 
    background:  #6d9dca; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  #336799; 
}